$color__primary: #445065;
$color__secondary: #dcdee3;
$color__instabug: #002276;

$color__white: #fff;

$color__gray--light: #b9b9b9;
$color__gray--dark: #5e5e5e;

$color__links: #09f;
$color__warning: #f24220;
