.login {
  grid-column: col-start 5 / full-end;
  padding: 0 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logo {
  width: 5rem;
  height: 5rem;
}
.heading--1 {
  font-size: 3rem;
  margin: 3rem 0;
  text-align: center;
  color: #445065;
}
.or {
  display: flex;
  align-items: center;
  margin: 2rem 0;
  width: 100%;
}
.or span {
  background-color: #445065;
  width: 50%;
  height: 1px;
}
.u-text--center {
  text-align: center;
}
.u-margin--1x {
  margin: 0 1rem;
}
.u-margin--2x {
  margin: 2rem 0;
}
.heading--3 {
  font-weight: 900;
  color: #445065;
  font-size: 1.5rem;
}
.topcompany {
  width: 100%;
  display: flex;
  flex-direction: column;
  &__imgs {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__img {
    width: 7rem;
    height: 7rem;
    object-fit: contain;
  }
}
